<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Calories Burn Calculator</h2>
  <p>
  Find out how many calories you burn doing different activities. This calculator uses the Metabolic
Equivalent of Task (METs) to calculate calories burned, giving a personalized result. Knowing
roughly how many calories you expend doing different activities can help you with weight loss or
maintenance.
<br><br>
Source: <a herf="https//www.healthline.com">https//www.healthline.com</a>
  </p>
  <br><br>

<ion-item>
<ion-label color="dark"> Activity </ion-label>
<ion-select interface="popover" [(ngModel)]="activity">
  <ion-option value="a">Washing Dishes</ion-option>
  <ion-option value="b">Hathing Yoga</ion-option>
  <ion-option value="c">Golf</ion-option>
  <ion-option value="d">Swimming</ion-option>
  <ion-option value="e">Running</ion-option>
  <ion-option value="f">Bicycling</ion-option>
</ion-select>
</ion-item>


<ion-item>
<ion-label color="dark"> Weight in Kilogram: </ion-label> 
<ion-input type= "number" [(ngModel)]="weight"></ion-input>
</ion-item> 

<ion-item>
<ion-label color="dark"> Duration in Minutes: </ion-label> 
<ion-input type= "number" [(ngModel)]="duration"></ion-input>
</ion-item> 
<button ion-button color="secondary" (click)= "calculateCBC()">COMPUTE</button>

<ion-item *ngIf= "cbc">
  <p> Burned Calories: {{cbc}} </p>
</ion-item>

<ion-item *ngIf= "wtl">
<p> Weight loss: {{wtl}} </p>
</ion-item>

</ion-content>